name: CI/CD Pipeline
run-name: Build and Test by @${{ github.actor }}
on:
  pull-request:
    branches:
      - main
jobs:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions / checkout@v4
    - name: Test
