name: CI

on:
  pull_request:
    branches: 
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: pip install ollama matplotlib numpy pandas coverage canvasapi
        
      - name: Install ollama
        run: curl -fsSL https://ollama.com/install.sh | sh

      - name: Test
        run: coverage run -m unittest discover -s canvasacademicinsights/tests -p "test_*.py"
