name: CI

on:
  pull_request:
    branches: 
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        run: coverage run -m unittest discover -s canvasacademicinsights/tests -p "test_*.py"
